@page "/army"

@inject IUnitService UnitService

  <h1>My army:</h1>
@foreach (var UserUnit in UnitService.MyUnits)
{


<div class="army-list">
        <div>
            @switch (UserUnit.UnitId)
                {

                    case 1:
            <img src="icons/W_Sword006.png"  />
                    break;
                    case 2: <img src="icons/S_Bow08.png"  />
                        break;
                    case 3:
                    <img src="icons/C_Hat01.png"  />
                    break;

            }

        </div>

        <div>
            @UnitService.Units.First(unit => unit.Id == UserUnit.UnitId).Title


        </div>
    <div>

        @UserUnit.HitPoints HP
    </div>


    </div>

}


@code {

            }
